{% extends 'base.html' %}

{% block title %}
{{product_id}} - {{product_name}}
{% endblock %}

{% block content %}
<div>
    <h2>Work in progress</h2>
    <a type="button" class="btn btn-ceneo" href="{{url_for('product',product_id=product_id)}}"><i>strona produktu</i></a>
    <a type="button" class="btn btn-ceneo" href="{{url_for('charts2',product_id=product_id)}}"><i class="bi bi-bar-chart-fill"></i></a>
    <a type="button" class="btn btn-ceneo" href="{{url_for('charts',product_id=product_id)}}"><i class="bi bi-pie-chart-fill"></i></a>
</div>
<div>
    <img src="{{url_for('static',filename='images/charts/'+product_id+'_bar.png')}}"
        alt="Rozkład rekomendacji w opiniach o produkcie">
</div>
{% endblock %}

{% block script %}
{% endblock %}