{% extends 'base.html' %}

{% block title %}
    {{product_id}} - {{product_name}}
{% endblock %}

{% block content %}
<div></div>
    <a type="button" class="btn btn-ceneo" href="{{url_for('products',product_id=product_id)}}"><i>Lista Produktów</i></a>
    <a type="button" class="btn btn-ceneo" href="{{url_for('charts2',product_id=product_id)}}"><i class="bi bi-bar-chart-fill"></i></a>
    <a type="button" class="btn btn-ceneo" href="{{url_for('charts',product_id=product_id)}}"><i class="bi bi-pie-chart-fill"></i></a>
    <a type="button" class="btn btn-info" href="{{url_for('download_csv',product_id=product_id)}}" download>CSV</a>
    <a type="button" class="btn btn-info" href="{{url_for('download_xlsx',product_id=product_id)}}" download>XLSX</a>
    <a type="button" class="btn btn-info" href="{{url_for('download_json',product_id=product_id)}}" download>JSON</a>

</div>
    {{opinions|safe}}
{% endblock %}

{% block script %}
<script>
    let table = new DataTable('#opinions',{
        //options
        scrollY: '550px',
        paging: false,
    });
</script>
{% endblock %}